


.strikeTHrough{
    text-decoration: line-through;
    font-style: initial;
    color: red;
    opacity: 50%;
}
li{
    list-style-type:none
}
.Task-collector{
 

}
.input{
  border-radius: 50px;
  box-sizing: content-box;
  text-align: center;
  font-size: 25px;
  position: absolute;
  margin: auto;
  /* width: 50%; */
  border: 3px solid magenta;
  padding: 10px;
  margin-left: 35%;
  margin-right:25%;
  position: relative;
  top: 80px;
}
.button{
  position: absolute;
  right: 665px;
  top: 120px;
  width: 30px;
  height: 50px;
  border-radius: 50px;
  background-color: yellowgreen;
  background-image: url ('images/tick-Button.jpeg') no-repeat;
  cursor: pointer;

}
.liItems{
  width: 350px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  padding: auto;

}
.toDoItems{
  position: absolute;
  top: 170px;
  right: 600px; 
}
/* body{
    background-color: #FFDE00;
    font-style: italic;
} */
/* --------------------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    font-family:'Montserrat Alternates', sans-serif;

  }
  
  .heading{
    position: absolute;
    left:  600px;
  }
  /* ============================================== */
.holder {
    width:400px;
    margin:0 auto;
}
ul {
    list-style-type: none;
    padding: 0px;
    background-color: #6F38C5;
  }
  
  ul li {
    padding: 8px 16px;
    /* border-radius: 50px ;*/ 
    border-bottom: 1px solid #ddd;
  }
  /* li{
    border-radius: 50px ;

  } */
  
  ul li:last-child {
    border-bottom: none
  }

  